
p {
    color: grey;
}

h1, h5 {
    color: #00303F;
}


/* presentation */

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 60px;
}

.nom{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

.last-name{
color: #dcae1d;
}

.first-name{
color: #00303F;
}

.profile-pic {
    width: 150px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 0 0 5px silver;
}

.presentation-texte {
    margin: 10px;
    max-width: 500px;
    text-align: justify;
}

/* projets */

h1 {
    font-family: 'Saira Semi Condensed', sans-serif;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

h1 .sub-h1 {
    color: grey;
    font-size: 0.8em;
}

.projet-liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projet {
    margin: 30px;
    width: 480px;
}

.projet .card-img-top {
    height: 200px;
    overflow: hidden;
}

.projet .card-img-top img {
    display: block;
    height: auto;

}


.projet .card-footer {
    display: flex;
    justify-content: space-evenly;

}

.projet .btn-success {
    background-color: #dcae1d;
    color: white;
}

/* footer */

.footer {
    background-color: #00303F;
    height: 100px;
    border: 1px solid black;
    color: white;
    margin-top: 100px;
}