
/* general */

body {
    background-color: #F7F7F7;
}

p, ul {
    color: grey;
}

ul {
    padding-left: 20px;
}

h1, h2, h3, h4 h5, h6 {
    color: #00303F;
}

a {
    color: rgb(2, 116, 151);
}

h1 {
    font-family: 'Saira Semi Condensed', sans-serif;
    margin-top: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2.2em;
}

h1 .sub-h1 {
    color: grey;
    font-size: 0.8em;
}

h2 {
    font-size: 1.1em;
    margin-top: 40px;
    margin-bottom: 20px;
}

hr.part-delimiter {
    border-top: 1px solid rgb(153, 153, 153);
}

/* navbar */

.navbar {
    background-color: #F7F7F7;
    border-bottom: 1px solid #dcae1d;
    font-family: 'Saira Semi Condensed';
}

.navbar .navbar-brand img {
    height: 25px;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}


/* presentation */

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-top: 60px;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
.presentation {
    margin-top: 30px;
}
}


.nom{
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 3.2em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 10px;
  }

.last-name {
    color: #dcae1d;
}

.first-name{
    color: #00303F;
}


.presentation .social-list i {
    color: #ddbf5c;
    font-size: 1.8em;
    margin: 0 15px;
}

.presentation .social-list a i:hover {
    color:  #00303F !important;
}

.profile-pic {
    width: 200px;
    border-radius: 15px;
    margin: 60px;
    box-shadow: 0 0 3px silver;
}


.presentation-texte {
    margin: 10px;
    max-width: 500px;
    text-align: center;
}

/* projets */

.projet-liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projet {
    margin: 40px 0px;
    width: 800px;
}

/* projet header */

.projet .card-img-top {
    height: 130px;
    overflow: hidden;
}

.projet .card-img-top img {
    display: block;
}

/* projet body */

.projet .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* projet body : title */

.projet .card-body .card-title {
    color: #00303F;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
} 

.projet .card-body .card-title h5 {
    margin: 0;
    margin-right: 20px;
} 

.projet .card-body .card-title .hashtag-list {
    display: flex;
    flex-wrap: wrap;
}

.hashtag-list .badge {
    font-size: 0.7em;
    margin: 4px;
    background-color: #dcae1d;
    color: white;
}


/* projet body : text */

.projet .card-body .card-text {
    text-align: justify;
}

.projet .card-body .card-text h6 {
    color: rgb(70, 70, 70);
    margin-bottom: 16px;
    margin-left: 7px;
}

/* projet body : techno list */

.projet .card-body .techno-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projet .card-body .techno-list img {
    height: 25px;
    margin: 5px 25px;
}

/* projet footer */

.projet .card-footer {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projet .card-footer a {
    margin: 5px;
    width: 210px;
}

.projet .card-footer .btn-group a {
    margin: 5px 0px;
    width: 130px
}

/* plus de projets */

.plus-de-projets {
    display: flex;
    align-content: center;
    
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;

}

.plus-de-projets .github-btn {
    font-family: 'Saira Semi Condensed', sans-serif;
    color: #00303F !important;
    font-size: 1.5em;
    letter-spacing: 2px;

    text-align: center;
}

.plus-de-projets .github-btn:hover {
    color: #dcae1d  !important;
    text-decoration: none;
}

/* a propos */

.a-propos {
    margin-top: 60px;
    text-align: justify;
}

/* contact*/

.contact {
    text-align: center;
}

.contact .contact-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;

}

.contact .contact-list .contact-item {
    margin: 5px 20px;
    width: 300px;
}

.contact .contact-list .contact-item i {
    font-size: 2.1em;
    margin: 15px;
    color: #dcae1d;
}

.contact .contact-list .contact-item i:hover {
    color: #00303F;
}

/* footer */

.footer {
    margin-top: 100px;
}
